.projects {
    list-style-type: none;
    margin: 0;
}

.project {
    margin: rem 0;
    a {
        background: rgb(243, 239, 239);
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        background: lightgrey;
    }

    h2 {
        margin-bottom: 0;
    }

    p{
        color:  grey;
        font-size: .8rem;
        font-style: italic;
    }
}