.contact {
    display: flex;
    font-size: 1.2rem;
    padding: 20px;
}
h1 {
    text-align: center;
}

.left {
    display:block;
    padding-right:50px;
}

.right {
    display:block;
    padding-left:50px;
}