@media screen and (min-width: 701px) {
    .footer {
    position: fixed;
    color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    transition: 1s;
}}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 700px) {
    
    .footer {
        position: fixed;
        color: rgba(0, 0, 0, 0.4);
        transform: rotate(90deg);
        transition: 1s;
        bottom: 120px;
        left: -120px
}}